.head-para{
    font-size: 0.8rem;
}

.full-label{
    font-size:0.9rem;
}

.special-para{
    font-size:0.8rem;
}

.select-tag{
    font-size: 0.9rem;
}

.check-text{
    font-size:0.8rem;
}

.create-btn{
    font-size: 0.8rem;
}