.main-con{
    background-color: rgba(0,0,0,0.3);
}

h1{
       color:#2b80ff; 
    text-shadow: 1px 0px 1px white;
}

input::placeholder{
    color:gray;
    font-weight: 600;
    font-size:0.8rem;
}

p{
    font-size: 0.8rem;
}

.email-icon{
    font-size: 0.8rem;
}

.s-link{
    cursor: pointer;
    color:#2b80ff;
}

.eye-icon{
    cursor: pointer !important;
}

form{
    box-shadow: 0px 0px 0.4rem 1px white;
}

.pass-icon{
    font-size: 0.8rem;
}