.login-main-con{
   background-color: rgba(0,0,0,0.3);
}

.signup-heading{
    color:#2B80FF;
}

/* form{
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.3);
} */

.signup-input{
    padding-left:1.7rem;
}

.signup-input::placeholder{
    color: gray;
    font-weight: 600;
    font-size: 0.9rem;
}

.signup-btn{ 
    color: #fff;
background-color: #344feb;
font-size: 1.1rem;
cursor: pointer;
 text-shadow: 4px 1px 4px rgba(0,0,0,0.5);
}

.user-icon,.email-icon,.pass-icon{
    font-size: 0.8rem;
}

.phone-icon{
    font-size:15px;
}

.signup-form{
    box-shadow: 0px 0px 5px 1px white;
}

.add-text{
    font-size:0.8rem;
    margin-top: 5px;
    font-weight: 600;
}

.log-span{
    color:#2B80FF;
    cursor: pointer;
}

